name: Deploy Node Package
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy NodeJS app
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            mkdir -p /app
            cd /app
            rm -R discordbot
            git clone https://${{ secrets.GIT_USER }}:${{ secrets.GIT_PASSWORD }}@github.com/desaerun/discordhistorybot.git discordbot
            cd discordbot
            npm install
            pm2 start main.js